@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');
/* google font可複製網址 */
body {
    font-family: 微軟正黑體;
    /* 修改字體 */
}

h1 {
	font-family: 'Caveat';
}

#header {
	background-color: #CCEEFF;
	padding: 5px 0px 30px 0px; /*上右下左*/
	text-align: center;
}

#myInput {
	font-family: 'Caveat', 微軟正黑體;
	font-size: 15px;
}

.memoBtn {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;/* 邊框 */
  border-radius: 5px;
  text-align: center;/* 內部字體位置 */
  padding: 5px 10px 5px 10px;/* 調整上下左右距離 */
  font-family: 'Mansalva';
  font-size: 15px;
  transition-duration: 0.4s;/* 改變時間 */
}

.memoBtn:hover {/* 滑鼠放上按鈕後: */
  background-color: #008CBA;
  color: white;
}

ul {
	font-family: 'Caveat', 微軟正黑體;
}

ul li {
	padding: 10px;
	font-size: 18px;
}

ul li:nth-child(even) {
  background: #F0F8FF;
}

ul li:nth-child(odd) {
  background: #F0FFFF;
}

ul li:hover {
  background: #EFEFEF;
}

.category {
	padding-top: 15px;
	font-size: 20px;
	font-weight: bold;
}

ul li.checked {
  background: #ddd;
  text-decoration: line-through;
}